<div class="well container-fluid" layout="column">

<uploader groupFiles="groupFiles"> </uploader>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th> {{ 'groups.group' | translate }} : groupname  </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>{{ 'documents.name' | translate }}</th>
            <th> {{ 'documents.path' | translate }}</th>
            <th>createdAt</th>
            <th>{{ 'documents.size' | translate }}</th>
            <th>{{ 'documents.type' | translate }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="sibling" ng-repeat="_file in documents">
            <td> {{ _file.name  }} </td>
            <td> {{ _file.path  }} </td>
            <td> {{ _file.createdAt | date  }} </td>
            <td> {{ _file.size  }} </td>
            <td> {{ _file.type  }} </td>
            <td> 

                <div class="container-fluid">
                    <div>
                        <button ng-click="download($index)" class="btn btn-success btn-sm"> 
                            <span class="glyphicon glyphicon-download-alt" ></span>
                        </button>
                    </div>
                    
                    <div>
                        <button class="btn btn-danger btn-sm"> 
                            <span class="glyphicon glyphicon-minus" ></span>
                        </button>
                    </div>
                    
                    <div class="dropdown">
                        <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="shareDropdown" data-toggle="dropdown" aria-expanded="false"> 
                            <span class="glyphicon glyphicon-share" ></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="shareDropdown">
                            <li><a href="#">share with users  </a></li>
                            <li><a href="#">share with friends</a></li>
                            <li><a href="#">share with group  </a></li>
                        </ul>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>

</div>
