<div class="container-fluid"> 
lajsdofoiuaosdufoaiusofdi ao sdufoa oad
lajsdofoiuaosdufoaiusofdi ao sdufoa oad
lajsdofoiuaosdufoaiusofdi ao sdufoa oad
lajsdofoiuaosdufoaiusofdi ao sdufoa oad

 <form class="form-horizontal" role="form">
   <div class="form-group">
     <div class="col-sm-10">
        <md-button ngf-select ngf-multiple="true" ng-model="files" class="md-fab step md-warn" aria-label="FAB">
            <md-tooltip style="backgroung-color:red;">
                <b>file upload</b>
            </md-tooltip>
            <span class="glyphicon glyphicon-plus"></span>
        </md-button>
     </div>
   </div>
 </form>
</div>
