<div class="container-fluid">

<div class="thumbnail">
    <img src="http://placehold.it/320x150" alt="">
    <div class="caption">
        <h4 class="pull-right"> {{ user.email }} </h4>
        <h4> {{ user.firstname }}, {{ user.secondname }} </h4>
    </div>

    <div class="caption" >
        <ul class="list-group">
            <li class="list-group-item"> <a ui-sref="" >Friends</a> </li>
            <li class="list-group-item"> <a ui-sref="" >Groups</a> </li>
        </ul>
    </div>

    <div class="ratings">
        <button class="btn btn-success btn-sm" class="pull-right"> add as friends</button>
    </div>
</div>
    
</div>

