<div ng-controller="CtrlSession">
  <form novalidate class="form-horizontal" role="form">

  	<p>
    	<label class="control-label" >Firstname:</label>
    	<input type="text" ng-model="user.firstname" required class="form-control" placeholder="Enter firstname"/>
  	</p>

  	<p>
    	<label class="control-label" >Secondname:</label>
    	<input type="text" ng-model="user.secondname" required class="form-control"  placeholder="Enter secondname"/>
  	</p>

  	<p>
    	<label class="control-label" for='email' >Email:</label>
    	<input type="email" ng-model="user.email" required class="form-control" for="email" placeholder="Enter email"/>
  	</p>

  	<p>
    	<label class="control-label" for='company' >Company:</label>
    	<input type="text" ng-model="user.company" required class="form-control" for="company" placeholder="Enter Company"/>
  	</p>

  	<p>
    	<label class="control-label" for='password' >Password:</label>
    	<input type="password" ng-model="user.password" required class="form-control" for="password" placeholder="Enter Password"/>
  	</p>

  	<p>
    	<label class="control-label" for='passphrase' >Passphrase:</label>
    	<input type="password" ng-model="user.passphrase" required class="form-control" for="passphrase" placeholder="Enter Passphrase"/>
  	</p>


  	<p>						
    	<input type="submit" ng-click="register(user)" value="Save" class ="btn"/>
  	</p>

  </form>
</div>
